body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../../images/drimage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 320px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.input-group input:focus {
    outline: none;
    border-bottom: 1px solid #4CAF50;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
}
